body {
  background: #333333;
}
header {
  background: purple;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding: 20px;
  text-transform: uppercase;
}

nav a {
  color: red;
  text-decoration: none;
}

nav a:hover {
  color: black;
}
